:root {
    --text-color: #ecf0f1;
    --bg-color: #444; 
}

body {
    font-family: 'Michroma', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


.home-content {
    width: 90%;
    max-width: 1200px;
    margin-top: 3rem;
    padding: 1rem;
}

.colleagues {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

.colleagues:hover {
    transform: translateY(-5px) scale(1);
    background-color: #555c65;
}


.image-container {
    width: clamp(120px, 20vw, 250px);
    height: clamp(120px, 20vw, 250px);
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
